{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="post-banner col-lg-12">
        {% for item in page.gallery_images.all %}
            <div>
                {% image item.image fill-1200x350 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
        <div class="">
        </div>
    </div>

    <div class="post-body shadow col-lg-12">
        <h1 class="text-center">{{ page.title }}</h1>
        <p class="intro text-center">{{ page.intro }}</p>
        <p>{{ page.body|richtext }}</p>
        {% if page.tags.all.count %}
            <div class="tags text-center">
                <h3>Tags</h3>
                {% for tag in page.tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button" class="btn btn-default">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>




{% endblock %}
